<StackLayout>
    <Label class="p-10" text="Alege orasele / regiunile in apropierea carora doriti sa cautati"
        textWrap="true"></Label>
    <StackLayout class="p-10" *ngFor="let city of cities">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <CheckBox [(ngModel)]="city.included" class="checkbox" boxType="square"></CheckBox>
            <StackLayout verticalAlignment="center">
                <Label [text]="city.name" textWrap="true" (tap)="changeCheckedRadio(city)"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <Button class="btn btn-outline" text="Close Modal" (tap)="close()"></Button>
</StackLayout>